:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }

  /* Colors */
  :root {
    --color-default: rgba(255, 255, 255, 1);
    --color-yellow: rgba(253, 215, 0, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-ligh-black: rgba(128, 128, 128, 1);
    --color-default-bg : rgb(240,240,240);
    --color-gray-bg : rgb(212,218,220) ;
    --color-footer-links: rgba(71, 72, 73, 1);
  }

  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: var(--font-secondary);
    color: var(--color-black);
    background: var(--color-default-bg);
  }

  a {
    color: var(--color-black);

    text-decoration: none;
  }

  a:hover {
    color: var(--color-yellow);
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary);
    color: var(--color-black);
  }

  .container-theme {
    max-width: 1260px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .why-musafir img {
    width: 100%;
  }
  /*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background: rgba(238, 207, 124, 1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  .scroll-top:hover {
    background: rgba(248, 90, 64, 0.8);
    color: #fff;
  }

  .scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }

  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/



  #preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 5s ease-out;
  }

  #preloader::before {
    content: '';
    width: 80px; /* Width of the preloader GIF */
    height: 80px; /* Height of the preloader GIF */
    background-image: url('../img/Blue\ Modern\ Company\ Animated\ Logo.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: animate-preloader 5.5s linear infinite;
  }

  /* @keyframes animate-preloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  /*
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px); */
    /* border: 6px solid #fff;
    border-color: var(--color-primary) transparent var(--color-primary) transparent; */
    /* background: url('../img/Blue\ Modern\ Company\ Animated\ Logo.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: center;
    background-position-y: center; */
    /* border-radius: 50%; */
    /* width: 60px;
    height: 60px;
    animation: animate-preloader 2.5s linear infinite;
  } */

  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  .header {
    transition: all 0.5s;
    z-index: 997;
    /* height: 90px; */
    /* background-color: var(--color-primary); */
  }

  .header.sticked {
    position: absolute;
    top: 73PX;
    right: 0;
    left: 0;
    /* height: 70px; */
    /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1); */
  }
  .header-checkout.header.sticked {
    top: 40PX;
  }
  .header .logo img {
    max-height: 76px;
    margin-right: 6px;
  }

  /* .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary);
  } */
  /*
  .header .logo h1 span {
    color: #f96f59;
  } */

  /* .sticked-header-offset {
    margin-top: 70px;
  } */

  /*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
  @media (min-width: 992px) {
    .navbar {
      padding: 0;
    }

    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }

    .navbar li {
      position: relative;
    }

    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      padding: 0 3px;
      font-family: var(--font-secondary);
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      color:  var(--color-default);
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    .navbar>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: rgba(238, 207, 124, 1);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
      visibility: visible;
      width: 100%;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: var(--color-yellow);
    }

    .navbar .dropdown ul {
      display: block;
      position: absolute;
      right: 0;
      top: calc(100% + 30px);
      margin: 0;
      padding: 20px 0px;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
    .navbar .dropdown ul li:last-child {
      border-bottom: none;
    }
    .navbar .dropdown ul li {
      padding: 10px 20px;
      border-bottom: rgba(196, 196, 196, 1) 1px solid;
      min-width: 200px;
    }

    .navbar .dropdown ul a {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.06em;
      color: var(--color-black);
    }

    .navbar .dropdown ul a i {
      font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: var(--color-yellow);
    }

    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }

  @media (min-width: 1280px) and (max-width: 1600px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  @media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
  }

  /*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
  @media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }

    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: linear-gradient(180deg, #0E0E4D 0%, #007369 100%);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      font-family: var(--font-primary);
      font-size: 15px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }

    .navbar .getstarted,
    .navbar .getstarted:focus {
      background: var(--color-primary);
      padding: 8px 20px;
      border-radius: 4px;
      margin: 15px;
      color: #fff;
    }

    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
      color: #fff;
      background: rgba(0, 131, 116, 0.8);
    }

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      padding: 10px 0;
      margin: 10px 20px;
      transition: all 0.5s ease-in-out;
      background-color: #007466;
      border: 1px solid #006459;
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }

    .mobile-nav-show {
      color: rgba(255, 255, 255, 0.6);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      margin-right: 10px;
    }

    .mobile-nav-hide {
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 9999;
    }

    .mobile-nav-active {
      overflow: hidden;
    }

    .mobile-nav-active .navbar {
      right: 0;
    }

    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background:linear-gradient(180deg, #0872A4 0%, #0872A4 100%);
      z-index: 9996;
    }
  }



  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero {
    width: 100%;
    position: relative;
    background-image: linear-gradient(to right, rgba(8, 114, 164, 1), rgba(8, 114, 164, 1));
    padding:  0 95px 0 95px;
  }
  .hero .hero-container {
    min-height: 800px
  }
  .check-hero .check-container {
    min-height: 283px;
    padding-bottom: 65px;
  }
  @media (min-width: 1365px) {
    .hero {
      background-attachment: fixed;
    }
  }

  .hero h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
    color: var(--color-default);
    max-width: 650px;
  }
  .hero h3 span {
    color: var(--color-yellow);
  }
  .hero h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    color: var(--color-default);
    max-width: 650px;
  }



  /*--------------------------------------------------------------
  # Musafir Works Section
  --------------------------------------------------------------*/
  .portfolio ul {
  position: relative;
  z-index: 99;
  margin-top: -50px;
  }
  .portfolio .main-div-deatil-card .country-card-img {
  z-index: 999;
  position: relative;
  }
  .portfolio .main-div-deatil-card .details-card {
  background: linear-gradient(180deg, #0872A4 0.01%, #579CBC 100%);
  margin-top: -50px;
  }
  .portfolio .main-div-deatil-card .details-card ul {
  background: transparent;
  border: none;
  padding-top: 40px;
  }
  .portfolio .main-div-deatil-card .details-card ul li .gif-mob {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.04em;
  max-width: 51%;
  }
  .portfolio .main-div-deatil-card .details-card ul li .United-kingdom {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  }
  .portfolio .main-div-deatil-card .details-card ul li {
  background: transparent;
  border: none;
  color: var(--color-default);
  padding: 25px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  background: transparent;
  }
  .portfolio .main-div-deatil-card .details-card ul li .img-icon img {
  height: 20px;
  width: 20px;
  }
  .portfolio .main-div-deatil-card .details-card ul li p {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  }
  .portfolio .main-div-deatil-card .details-card ul li p.data-field {
  font-weight: 600;
  text-align: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
  }
  .portfolio button {
  box-shadow: 0px 2px 3px 0px var(--color-yellow);;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  padding: 30px 33px;
  background: var(--color-default);
  border-radius: 10px;
  color: var(--color-black);
  }
  .portfolio .main-div-deatil-card .details-card ul li p.data-field button {
  box-shadow: none;
  }
  .portfolio .main-div-deatil-card .details-card ul li p.data-field button  .bi-info::before {
  background: var(--color-yellow);
    border-radius: 20px;
    color: #fff;
  }
  .custom-tooltip {
  background: var(--color-black)!important;
  color: var(--color-default)!important;
  }
  .portfolio button:hover {
    background: var(--color-yellow);
    color: var(--color-black);
  }
  .portfolio button.active {
  background-color: var(--color-yellow) !important;
  box-shadow: 0px 2px 3px 0px var(--color-yellow);
  }
  .portfolio h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  }
  .portfolio .countries-flag img {
  width: 92px;
  height: 72px;
  }
  .portfolio .countries-heading {
  color: rgba(40, 40, 40, 1);
  font-size: 35px;
  font-weight: 600;
  line-height: 44.5px;
  }
  .portfolio .card {
  border-radius: 20px;
  }
  .portfolio h5 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  }
  .portfolio p {
  font-size: 25px;
  font-weight: 500;
  line-height: 37.46px;
  letter-spacing: 0.05em;
  }

  /*--------------------------------------------------------------
  # Musafir Works Section
  --------------------------------------------------------------*/
  .musafir-works {
  background: var(--color-default);
  border-radius: 100px 0px 0px 0px;
  padding: 50px 0px;
  }
  .musafir-works-about {
  background: url('../img/bg-about.png');
  background-repeat: no-repeat;
  background-position: center   ;
  }

  .musafir-works h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.01em;
  }
  .musafir-works h5 {
  font-size: 25px;
  font-weight: 500;
  line-height: 37.46px;
  letter-spacing: 0.01em;
  }
  .why-musafir {
  padding: 57px 0 100px 0;
  }
  .why-musafir-about {
  padding: 100px 0 0 0;
  }
  .why-musafir h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.01em;
  }
  .why-musafir h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;}
  .why-musafir p {
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: justify;
  color: var(--color-ligh-black);
  max-width: 648px;
  }
  .why-musafir-about p {
  text-align: left;
  }
  .bg-musafir {
  padding: 100px 0;
  border-radius: 0px 200px  0px 0px;
  background: var(--color-gray-bg);
  }
  .bg-musafir h2 , .bg-musafir P {
  max-width: 648px;
  margin-left: auto;
  }
  .bg-download {
  padding: 50px 80px 50px 80px;
  background: linear-gradient(358.23deg, #F27953 -97%, #F6BF5E 97%);
  border-radius: 50px;
  }
  .bg-download h2 {
  color: var(--color-default);
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;

  }
  .footer  {
  border-radius: 50px 50px 0px 0px;
  background-color: var(--color-default);
  padding: 81px 0 100px;
  }
  .footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--color-ligh-black);
  max-width: 181px;

  }
  .footer h4  {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--color-footer-links);
  }
  .footer li {
  list-style: none;
  margin-bottom: 15px;
  }
  .footer li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--color-ligh-black);
  }
  .footer .copyright {
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: var(--color-footer-links);
  }
  /*--------------------------------------------------------------
  # Login Section
  --------------------------------------------------------------*/

  .login-body , .messege-body {
  background: rgba(240, 240, 240, 1);
  }
  .login-body .left_img ,.messege-body .left_img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 37%;
  }
  .login-body .left_img img ,.messege-body .left_img img ,.login-body .center_img  img ,.messege-body .center_img img ,.login-body .right_img img ,.messege-body .right_img img  {
  width: 100%;
  }
  .login-body .center_img ,.messege-body .center_img {
  position: absolute;
  bottom: 0;
  left: 24%;
  max-width: 60%;
  }
  .login-body .right_img ,.messege-body .right_img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 42%;
  }

  .login-body .login .container-fluid {
  max-width: 1440px;
  margin: auto;
  position: relative;
  height: 100%;
  padding-bottom: 175px;
  }
  .login-body .card {
  border-radius: 30px;
  max-width: 656px;
  margin: auto;
  z-index: 999;
  position: relative;
  }
  .login-body .card-footer {
  background: rgba(240, 240, 240, 1);
  border-radius: 0 0 30px 30px;
  }
  .login-body .card-footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  }
  .login-body .card .card-body li button.active{
  background: rgba(253, 215, 0, 1)!important;
  }
  .login-body .card .card-body li button  {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  padding: 21px 10px;
  color: var(--color-black);
  }
  .login-body .card .card-body li:first-child button {
  width: 150px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 10px 0px 0px 10px;
  }
  .login-body .card .card-body li:last-child button {
  width: 150px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 0 10px 10px 0px;
  }
  .login-body .card .card-body .form-check .form-check-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;

  }
  .login-body .card .card-body .form-check .forget{
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  }
  .login-body .card .card-body .tab-content {
  padding-top: 25px;
  max-width: 300px;
  margin: auto;
  }
  .login-body .card .card-body .tab-content .input-group {
  margin-bottom: 25px;
  }
  .login-body .card .card-body .tab-content .input-group input:focus {
  outline-style: none;
  }
  .login-body .card .card-body .tab-content .submit-btn {
  padding: 0 15px;
  }
  .login-body .card .card-body .tab-content .submit-btn button {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  border: 1px solid rgba(196, 196, 196, 1);
  max-width: 270px;
  margin: 25px auto 0;
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  opacity: 0px;
  background: var(--color-yellow);
  }
  .login-body .card .card-body .tab-content .submit-btn button:hover {
  background: transparent;
  }
  .messege-body .card {
  position: relative;
  z-index: 999;
  padding: 20px 20px;
  }
  .messege-body .card h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  }
  .model-pakages .modal-dialog {
  max-width: 1150px;
  }
  .model-pakages .modal-body {
    background-color: var(--color-default-bg);
  }
  .model-pakages .modal-dialog .modal-header {
  background: linear-gradient(180deg, #0872A4 0%, #579CBC 100%);
  padding-bottom: 50px;
  }
  .model-pakages .modal-dialog .modal-header .btn-close {
  background: url(../img/close-Icon.png) !important;
  height: 25px;
  width: 25px;
  opacity: 1;
  }
  .model-pakages .modal-dialog .modal-header  .list-group-item , .model-pakages .modal-dialog .Packages-slider .slider-card .list-group-item {
  padding: 25px 15px;
  border: none;
  border-bottom: 1px  solid rgba(255, 255, 255, 1);
  background: transparent;
  }
  .model-pakages .modal-dialog .modal-header  .list-group-item p , .model-pakages .modal-dialog .Packages-slider .slider-card .list-group-item p {
  font-size: 20px;
  line-height: 37.5px;
  color: var(--color-default);
  margin-bottom: 0;
  }
  .model-pakages .modal-dialog .modal-header  .list-group-item .data-field , .model-pakages .modal-dialog .Packages-slider .slider-card .list-group-item.data-field {
  font-weight: 600;
  }
  .model-pakages .modal-dialog .Packages-slider .slider-card {
  background: linear-gradient(180deg, #0872A4 0.01%, #579CBC 100%);

  }
  .model-pakages .modal-dialog .Packages-slider .slider-card .list-group-item h4  {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.04em;
  }
  .model-pakages .modal-dialog .Packages-slider .swiper-slide {
  padding: 0 30px;
  }
  .model-pakages .modal-dialog .Packages-slider .swiper-slide .slider-card {
  width: 100%;
  border-radius: 15px;
  }
  .model-pakages .modal-dialog .Packages-slider .swiper-slide .slider-card li {
  padding: 35px 50px;
  }
  .model-pakages .modal-dialog .additional-info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0;
  text-align: end;
  }
  .model-pakages .modal-dialog .additional-info .card {
  border-radius: 15px;
  border: none;
  }
  .model-pakages .modal-dialog .additional-info .card h5{
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  color: rgba(40, 40, 40, 1);
  }
  .model-pakages .modal-dialog .additional-info .card ul {
  border-radius: 15px;
  }
  .model-pakages .modal-dialog .additional-info .card li {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  padding: 20px 30px;
  }
  .model-pakages .modal-dialog .additional-info p.label-field {
  color: var(--color-ligh-black);
  text-align: start;
  }
  .model-pakages .modal-dialog .modal-footer {
  box-shadow: 0px -4px 4px 0px var(--color-yellow);
  border-radius: 20px 20px 0px 0px;
  }
  .model-pakages .modal-dialog .modal-footer .btn , .payment-method .payment-method-container .complete-order .btn {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: center;
  padding: 31px 200px 31px 200px;
  gap: 10px;
  border-radius: 10px 0px 0px 0px;
  border-radius: 10px;
  opacity: 0px;
  background: var(--color-yellow);
  color: var(--color-black);
  }
  .payment-method .payment-method-container .name-of-card {
  width: 75%;
  }
  .payment-method .payment-method-container .cvc-input {
  width: 25%;
  }
  .payment-method .payment-method-container {
  max-width: 768px;
  }
  .payment-method .payment-method-container .row {
  background: linear-gradient(180deg, #0E0E4D 0%, #007369 100%);
  border-radius: 10px;
  }
  .payment-method .payment-method-container .width-row {
  width: 75%;
  }
  .United-kingdom {
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: 0.04em;
  }
  .payment-method .payment-method-container .row .gif-mob {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.04em;
  }
  .payment-method .payment-method-container .row ul {
  border-radius: 15px;
  border: none;
  }
  .payment-method .payment-method-container .row li {
  border: none;
  border-bottom: 1px solid  var(--color-default);
  padding: 10px 15px;
  background: transparent;
  color: var(--color-default);
  }
  .payment-method .payment-method-container .row p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: var(--color-default);
  }
  .payment-method .payment-method-container .row p.label-field {
  font-weight: 500;
  }
  .payment-method .payment-method-container .row li img {
  height: 20px;
  }
  .payment-method .payment-method-container .checkout-card {
  top: 21%;
  left: 0;
  }
  .payment-method .payment-method-container .choose-payment {
  max-width: 535px;
  }
  .payment-method .payment-method-container .choose-payment h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.02em;
  }
  .payment-method .payment-method-container .choose-payment p {
  font-size: 22px;
  font-weight: 500;
  line-height: 35.2px;
  color: rgba(151, 151, 151, 1);
  }
  .payment-method .payment-method-container .choose-payment .card  h5 {
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  }
  .payment-method .payment-method-container .total-price {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(74, 74, 74, 1);
  }
  .payment-method .payment-method-container .price-amount {
  font-size: 25px;
  font-weight: 500;
  line-height: 37.5px;
  letter-spacing: 0.03em;
  }
  .payment-method .payment-method-container .form-check .form-check-label , .paymentMethod-modal .modal-content .form-check .form-check-label {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: justify;
  color: rgba(151, 151, 151, 1);
  }
  .paymentMethod-modal .modal-content .Confirm-Purchase .btn , .profile .account-info-form .Confirm-Purchase .btn{
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: center;
  padding: 31px 200px 31px 200px;
  gap: 10px;
  border-radius: 10px 0px 0px 0px;
  border-radius: 10px;
  opacity: 0px;
  background: rgba(253, 215, 0, 1);
  color: var(--color-black);
  }
  .payment-method .payment-method-container .form-check .form-check-input , .paymentMethod-modal .modal-content .form-check .form-check-input {
  height: 35px;
  width: 35px;
  border: 1px solid rgba(151, 151, 151, 1);
  }
  .paymentMethod-modal .modal-content {
  background: #f0f0f0;
  }
  .paymentMethod-modal .modal-content .modal-header {
  background-color: var(--color-default);
  }
  .paymentMethod-modal .modal-content .modal-header .modal-title {
  font-size: 35px!important;
  font-weight: 600;
  line-height: 52.5px;
  text-align: center;
  color: var(--color-black);
  }
  .paymentMethod-modal .modal-content .modal-body h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.06em;
  }
  .paymentMethod-modal .modal-content .modal-body p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  }
  .paymentMethod-modal .modal-content .modal-body h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  margin-bottom: 0;
  }
  .paymentMethod-modal .modal-content .modal-body span{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba(151, 151, 151, 1);
  }
  .paymentMethod-modal .modal-dialog {
  max-width: 1000px;
  }
  .paymentMethod-modal .modal-content .modal-body .pay-with {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(151, 151, 151, 1);
  }
  .profile .profile-container {
  max-width: 1430px;
  padding-left: 40px;

  }
  .profile .profile-list .card-header h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.06em;
  }
  .profile .profile-list .card-header span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.06em;
  color: rgba(138, 138, 138, 1);
  }


  .profile .profile-list  ul {
  padding-left:0px;
  }
  .profile .profile-list  ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  }
  .profile .profile-list  ul li:first-child {
  padding-top: 0;
  }
  .profile .profile-list  ul li {
  list-style: none;
  padding: 30px 0px;
  border-bottom: rgba(196, 196, 196, 1) 1px solid;
  }

  .profile .profile-list  ul a {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: var(--color-black);
  }

  .profile .profile-list  ul a:hover,
  .profile .profile-list  ul .active:hover,
  .profile .profile-list  ul li:hover>a {
  color: var(--color-yellow);
  }

  .profile .account-info-form {
  max-width: 827px;
  margin: auto;
  }
  .profile .account-info-form  h3 , .profile .account-info-form  h4 {
  font-size: 35px;
  font-weight: 600;
  line-height: 42.5px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
  }
  .profile .account-info-form  h4 {
  font-size: 30px;
  }
  .profile .account-info-form  p {
  font-size: 22px;
  font-weight: 500;
  line-height: 35.2px;
  letter-spacing: 0.01em;
  text-align: justify;
  color: rgba(151, 151, 151, 1);
  }
  .profile .account-info-form input {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  }

  .profile .account-info-form .btn-link-account {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  border-color: rgba(138, 138, 138, 1);
  max-width: 151px;
  border-radius: 10px;
  }
  .profile .account-info-form div.add_new_card .btn {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  }
  .profile .profile-card-table {
  border-radius: 20px;
  border: 1px solid rgba(203, 213, 225, 1);
  }
  .profile .profile-card-table table th {
  background: rgba(203, 213, 225, 1);
  padding-top: 17px;
  padding-bottom: 17px;
  font-family: var(--font-primary) ;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
  }
  .profile .profile-card-table table td {
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 16%;
  }
  .profile .profile-card-table .table-responsive {
  border-radius: 20px 20px 0 0;
  }
  .Contact-Us .contact_us_div  {
  max-width: 414px;
  }
  .Contact-Us .contact_us_div h2 {
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px
  }
  .Contact-Us .contact_us_div p{
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: var(--color-ligh-black);
  margin-bottom: 50px;
  }
  .Contact-Us p {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: var(--color-ligh-black);
  }
  .Contact-Us .contact_us_div .email-or-num a {
  color: var(--color-ligh-black);
  margin-bottom: 30px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.01em;
  }
  .Contact-Us .customer-suppport, .Contact-Us  h5  {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-decoration: revert;
  }
  .Contact-Us .card {
  border: none;
  border-radius: 30px;
  padding: 0;
  }
  .Contact-Us .card .card-body {
  padding: 55px 33px;
  }
  .Contact-Us .card .card-body h6 {
  font-family: var(--font-secondary);
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  letter-spacing: 0.01em;
  }
  .Contact-Us .card .card-body input,.Contact-Us .card .card-body textarea {
  border: 1px solid rgba(196, 196, 196, 1);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 20px;
  padding: 24px;
  }
  .Contact-Us .card .card-body .email-message  {
  background: url('../img/Message-input.svg');
  background-position-x: 20px;
  background-position-y: 26px;
  padding-left: 60px;
  background-repeat: no-repeat;
  }
  .Contact-Us .card .card-body .btn-primary {
  background: rgba(253, 215, 0, 1);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  border: none;
  color: var(--color-black);
  padding: 22px;
  border-radius: 20px;
  }
  .Contact-Us .card .card-body .field-name {
  width: 50%;
  }

  .Privacy-Policy .Privacy-Policy-inner h2 {
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  color: var(--color-black);
  }
  .Privacy-Policy .Privacy-Policy-inner ul {
  padding-left: 15px;
  }
  .Privacy-Policy .Privacy-Policy-inner p , .Privacy-Policy .Privacy-Policy-inner li ,.Privacy-Policy .Privacy-Policy-inner a {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-black);
  }
  .Privacy-Policy .Privacy-Policy-inner h3 {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--color-black);
  }

  @media screen and (max-width: 1199px) {
  .portfolio .main-div-deatil-card .details-card ul li p {
    font-size: 12px;
    line-height: 15px;
  }
  .portfolio .main-div-deatil-card .details-card ul li p.data-field {
    width: 114px;
  }
  .portfolio .main-div-deatil-card .details-card ul li .gif-mob {
    max-width: 47%;
    font-size: 18px;
    line-height: 20px;
  }
  .portfolio .main-div-deatil-card .details-card ul li .United-kingdom {
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio .main-div-deatil-card .country-card-img img {
    height: 80px;
  }
  .portfolio .main-div-deatil-card .details-card {
    margin-top: -50px;
  }
  .profile .profile-container {
    padding-left: 25px;
    padding-right: 25px;
  }
  }



  @media screen and (max-width: 991px) {
  .profile .profile-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero {
    padding: 0;
  }
  .header.sticked {
    top: 20px;
  }
  .header .logo img {
    max-height: 50px;
  }
  .header-checkout.header.sticked {
    top: 20px;
  }
  .hero .hero-container {
    min-height: auto;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .hero h3 {
    line-height: 50px;
  }

  .bg-download img {
    width: 100%;
  }
  .footer {
    padding-bottom: 50px;
  }
  .payment-method .payment-method-container {
    max-width: 750px;
  }
  .why-musafir h3 , .musafir-works h3 ,.bg-download h2 , .paymentMethod-modal .modal-content .modal-header .modal-title {
    font-size: 30px;
    line-height: 37px;
  }
  .why-musafir h2 , .paymentMethod-modal .modal-content .modal-body h4 , .profile .account-info-form h4{
    font-size: 25px;
    line-height: 32px;
  }
  .why-musafir p , .payment-method .payment-method-container .form-check .form-check-label, .paymentMethod-modal .modal-content .form-check .form-check-label ,.paymentMethod-modal .modal-content .modal-body p ,.footer p ,.model-pakages .modal-dialog .modal-header .list-group-item p, .model-pakages .modal-dialog .Packages-slider .slider-card .list-group-item p , .profile .account-info-form p , .payment-method .payment-method-container .row p {
    font-size: 14px;
    line-height: 21px;
  }
  .footer p {
    max-width: 100%;
  }
  .payment-method .payment-method-container .form-check .form-check-input, .paymentMethod-modal .modal-content .form-check .form-check-input {
    height: 25px;
    width: 25px;
  }
  }
  @media screen and (max-width: 767px) {
  .header .logo img {
    max-height: 30px;
  }
  .hero .hero-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero h3 {
    line-height: 31px;
    font-size: 21px;
  }
  .hero h4 {
    font-size: 15px;
    line-height: 20pxn
  }

  .check-hero h4 {
    line-height: 31px;
    font-size: 25px;
  }
  .portfolio button {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 10px;
  }
  .portfolio ul {
    margin-top: -20px
  }
  .portfolio h5 , .portfolio p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24.5px;
  }
  .musafir-works h3 {
    font-size: 28px;
    line-height: 28px;
  }
  .why-musafir h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .why-musafir p {
    font-size: 18px;
    line-height: 24.5px;
  }
  .why-musafir img {
    margin-bottom: 20px;
  }
  .bg-musafir {
    border-radius: 0 50px 0 0;
    padding: 25px 0;
  }
  .why-musafir {
    padding: 25px 0;
  }
  .bg-download {
    padding: 30px 20px;
  }
  .bg-download h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .footer li {
    list-style: none;
    margin-bottom: 5px;
  }
  .portfolio .countries-flag img {
    width: 50px;
    height: 30px;
  }
  .portfolio .countries-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 18.5px;
  }
  .payment-method .payment-method-container .checkout-card {
    top: 0;
    max-width: 200px;
    right: 0;
  }
  .payment-method .payment-method-container .checkout-card img {
   width: 100%;
  }
  .payment-method .payment-method-container .row {
    padding-top: 150px!important;
  }
  .payment-method .payment-method-container .width-row {
    width: 100% !important;
  }
  .model-pakages .modal-dialog .modal-footer .btn, .payment-method .payment-method-container .complete-order .btn  , .paymentMethod-modal .modal-content .Confirm-Purchase .btn , .profile .account-info-form .Confirm-Purchase .btn {
    font-size: 18px;
    padding: 20px;
  }
  .payment-method .payment-method-container .choose-payment h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .payment-method .payment-method-container .choose-payment .card h5 {
    font-size: 18px;
  }
  .payment-method .payment-method-container .name-of-card {
    width: 100%;
  }
  .payment-method .payment-method-container .cvc-input {
    width: 100%;
  }
  .model-pakages .modal-dialog .busniess-card-img {
    width: 100%;
  }
  .model-pakages .modal-dialog .Packages-slider .swiper-slide {
    padding: 0;
  }
  .model-pakages .modal-dialog .Packages-slider .swiper-slide .slider-card li , .model-pakages .modal-dialog .additional-info .card li {
    padding: 20px 15px;
  }
  .login-body .card .card-body li:last-child button , .login-body .card .card-body li:first-child button{
    width: 120px;
  }
  .country-card-img img {
    height: 55px!important;
  }
  .portfolio .main-div-deatil-card .details-card {
    margin-top: -29px;
  }
  .portfolio .main-div-deatil-card .details-card ul li p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .portfolio .main-div-deatil-card .details-card ul li p.data-field {
    font-weight: 500;
    width: 106px;
  }
  /* .portfolio .main-div-deatil-card .details-card ul li .United-kingdom ,.portfolio .main-div-deatil-card .details-card ul li .gif-mob {
    max-width: 100%;
  } */
  .Contact-Us .card .card-body .field-name {
    width: 100%;
  }
  .Contact-Us .card .card-body  .flex-wrap-div {
    flex-wrap: wrap;
  }
  .Contact-Us .card .card-body {
    padding: 30px 20px;
  }
  .musafir-works-about img {
    height: 300px;
  }
  }
  .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  }

  .tooltip:hover .tooltiptext {
  visibility: visible;
  }
  #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #loader img {
    width: 100px;
    height: 100px;
  }
